nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
    background-color: black;
    display: flex;

}

nav a::after {
    position: absolute;
    background-color: #00bcd4;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav a:hover {
    color: #00bcd4;
}

nav a::after {
    width: 100%Ð«;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
}

.kokos {
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: center;
}

.button1 {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
}

.button1:hover {
    background-color: skyblue;
    transition: 0.3s;
}

.heros {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 150px;
}

.section1 {
    background-color: gainsboro;
}

.button2 {
    background-color: white;
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
}

.button2:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
    transition: 0.3s;
}

.icon {
    list-style: none;
}

.container-footer {
   background-color: black; 
   display: flex;
   justify-content: center;
}

.icons {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-right: 20px;
    transition: background-color 500ms linear, transform 500ms ease-in-out;
}

.icons:hover {
    transform: rotate(180deg);
}

.portfolio {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 80px 0;
}

.project {
    width: 300px;
    height: 180px;
    background: #d3d3d3;
    position: relative;
    overflow: hidden;
}


.overlay {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.75);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;
    font-weight: bold;

    transition: bottom 0.35s ease;
}


.project:hover .overlay {
    bottom: 0;
}
