nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
    background-color: black;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5;
    width: 0;
    height: 2px;
    background-color: #00bcd4;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav a:hover {
    color: #00bcd4;
}

nav a::after {
    width: 100%Ð«;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
}

.kokos {
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: center;
}

.button1 {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
}

.button1:hover {
    background-color: skyblue;
    transition: 0.3s;
}

.heros {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 150px;
}

.section1 {
    background-color: gainsboro;
}

.button2 {
    background-color: white;
    
}